{% extends "base.html" %}

{% block title %} Stored databases {% endblock %}
{% block menu %}
<a href="/">Main</a>
<a href="/databases">Databases</a>
<a href="/account">Account</a>
<a href="/logout">Logout</a>
{% endblock %}
{% block content %}
    <h1>{{ database.name }}</h1>

    {% if database.desc %}
    <p>{{ database.desc }}</p>
    {% endif %}

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Size</th>
            <th>Upload date</th>
        </tr>
        <tr>
            <td>{{ database.id }}</td>
            <td>{{ database.name }}</td>
            <td>{{ database.fileSize|filesizeformat }}</td>
            <td>{{ database.uploadDate.strftime("%H:%M %d.%m.%Y") }}</td>
        </tr>
    </table>

    <h4>Changes</h4>
    <a href="/databases/delete/{{ database.id }}">Remove database</a>
{% endblock %}