{% extends "base.html" %}

{% block title %} Stored databases {% endblock %}
{% block menu %}
<a href="/">Main</a>
<a href="/databases" class="selected">Databases</a>
<a href="/account">Account</a>
<a href="/logout">Logout</a>
{% endblock %}
{% block content %}
    <h1>Database list</h1>
    <p>This is the list of all uploaded databases. You can edit, download, rename or delete them.</p>
    <p>
        <form enctype="multipart/form-data" method="post">
            <label for="file">Upload a database here:</label>
            <input type="file" class="form-control-file" id="file" name="file">
            <button type="submit">Upload</button> <!-- class="btn btn-primary" -->
        </form>
    </p>

    {% if databases %}
        <br><h3>List of uploaded databases</h3>
        <small>Total: {{ databases|length }}</small>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Size</th>
                <th>Upload date</th>
            </tr>
            {% for database in databases %}
                <tr data-href="/databases/{{ database.id }}">
                    <td>{{ database.id }}</td>
                    <td>{{ database.name }}</td>
                    <td>{{ database.fileSize|filesizeformat }}</td>
                    <td>{{ database.uploadDate.strftime("%H:%M %d.%m.%Y") }}</td>
                </tr>
            {% endfor %}
        </table>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const rows = document.querySelectorAll("table tr[data-href]");
                
                rows.forEach(row => {
                    row.style.cursor = "pointer"; // Changes cursor to pointer to indicate it's clickable
                    row.addEventListener("click", function() {
                        window.location.href = this.dataset.href; // Redirects to the URL in data-href attribute
                    });
                });
            });
        </script>
    {% endif %}
    <!-- <table>
        <tr>
            <th>Name</th>
            <th>Entries</th>
        </tr>
        <tr>
            <td>123</td>
            <td>million</td>
            <td>Edit</td>
        </tr>
    </table> -->
{% endblock %}