{% extends "base.html" %}

{% block title %} Index {% endblock %}
{% block menu %}
<a href="/" class="selected">Main</a>
<a href="/databases">Databases</a>
<a href="/account">Account</a>
<a href="/logout">Logout</a>
{% endblock %}
{% block content %}
<h1>Index</h1>
<!-- <p>Here you can search and upload new csv databases.</p> -->
<p>Welcome to LIBRO, your comprehensive solution for managing and searching through leaked databases.</p>
<p>
    Effortlessly centralize multiple datasets with LIBRO. It is designed to help you quickly connect the dots across
    various datasets by providing powerful search functionality. Get the power of connected data in seconds
    by entering a name, email or number into <a href="/search">quick search bar</a>, and LIBRO will scour through all uploaded
    databases to give you relevant results in seconds.
</p>

<br>
<p>Made with ❤️ by Jenia</p>
{% endblock %}