{% extends "base.html" %}

{% block title %} Search {% endblock %}
{% block menu %}
<a href="/" class="selected">Main</a>
<a href="/databases">Databases</a>
<a href="/account">Account</a>
<a href="/logout">Logout</a>
{% endblock %}
{% block content %}
<h1>Database search</h1>

<form method="POST">
    <label for="query">Search Query</label>
    <input type="text" id="query" name="query" value="{{ query }}"> <!-- class="form-control" -->

    <button type="submit btn">Search</button>
</form>
<br>

{% if query %}
    <h3>Search results for <span class="accent">{{ query }}</span></h3>
    <small>Completed in {{ speed }} seconds through {{ dbnum }} datasets ({{ entries|formatNumber }} entries)</small>
    {% endif %}

    {% if results %}
        <ul>
            {% for result in results %}
                <li>{{ result.text }} - {{ result.filename }}:{{ result.line }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
